#controls{
color:white;
margin-top: 1vh;
display: flex;
align-content: center;
justify-content: center;
}
canvas{
  border: 1px solid black;
}

@font-face {
  font-family: "Passio";
  src: url("assets/Passio-Graphis.otf") format("opentype");
}


*{
  background-color: black;
  font-family: 'Passio';
  font-weight: bold;
  color:white;
}
input{
  color:white;
  height:2em;
  line-height: 2em;
  width:80vw;
  font-size: 2em;
  text-align: center;
}

#score{
  color:red;
  position: relative;
  top:10vh;
  left:5vh;
  z-index: 5;
  font-size: 3em;
  background-color: rgba(0,0,0,0);

}



#over{
  color:red;
  position: relative;
  top:40vh;
  left:15vw;
  z-index: 5;
  font-size: 5em;
  background-color: rgba(0,0,0,0);

}
button{
  padding: 2em;
  motion-path: path("m 0 0 m 10 0 m 0 10 m -10 0 m 0 -10");
  offset-path: path("m 0 0 m 10 0 m 0 10 m -10 0 m 0 -10");
  motion-rotation: reverse;
  animation: move 3s linear infinite;

}


@keyframes move {
  100% {
    motion-offset: 100%;
    offset-distance: 100%;
  }
}
